{% extends 'base.html' %} {% load static %} 

{% block styles %}
<link rel='stylesheet' href="{% static 'styles/albums_events_style.css' %}" type='text/css' media='all' /> {% endblock %}

{% block title %} Albums | {% endblock %} {% block content %}

<div class="container">
    <!--{% if user.is_staff %}
                        <a href="{% url 'JazzBluesApp:newAlbum'%}" class="button">New album</a> {% endif %}

                    {% for album in albums %}
                    <li class="album">
                         {% if user.is_staff %}
                        <a href="{% url 'JazzBluesApp:albumEdit' album_id=album.id %}" class="button">Edit album</a> {% else %} {% if album.in_stock == 0 %}
                        <a class="disabled">Sold out</a> {% else %}
                        <a href="{% url 'JazzBluesApp:addAlbumToCart' album_id=album.id %}" class="button">Add to cart</a> {% endif %} {% endif %}
                    </li>
                    {% endfor %}-->
    <div class="bg-modal-filters">
        <div class="modal-content">
            <div class="close">+</div>
            <fieldset class="search-fieldset">
                <p>Select artist: </p>
                <form class="search-form search-style">
                    <p class="artists">{% for object in albumFilter.form.artist_id|slice:"0:3" %}
                        {{object}}<br>
                        {% endfor %}
                        <span class="moreArtists">
                            {% for object in albumFilter.form.artist_id|slice:"3:" %}
                            {{object}}<br>
                            {% endfor %}
                        </span>
                    </p>
                <br>
                <div><a class="load-more-btn" href="#">+ See more</a></div>
                    <div>
                        {{albumFilter.form.album_format}}
                    </div>
                    <div>{{albumFilter.form.album_price__gt}} - {{albumFilter.form.album_price__lt}}</div>
                    <div>
                        {{albumFilter.form.genre_id}}
                    </div>
                    <div>
                        {{albumFilter.form.album_name}}
                    </div>
                    <button type="submit">Search</button>
                </form>
            </fieldset>
        </div>
    </div>
    
    <a href="#" id="filters-button" class="filters">Filters</a>
    <form id="ordering" class="ordering" action="{% url 'JazzBluesApp:albums'%}" method="post">
        {% csrf_token %}
        
        <select name="orderby" class="orderby" onchange="$('#ordering').submit()">
            {% if orderby == 'albums' %}
            <option value="albums" selected="selected">Default sorting</option>
            {% else %}
            <option value="albums">Default sorting</option>
            {% endif %}
            {% if orderby == 'albumsNameAscending' %}
            <option value="albumsNameAscending" selected="selected">Sort by album name: A - Z</option>
            {% else %}
            <option value="albumsNameAscending">Sort by album name: A - Z</option>
            {% endif %}
            {% if orderby == 'albumsNameDescending' %}
            <option value="albumsNameDescending" selected="selected">Sort by album name: Z - A</option>
            {% else %}
            <option value="albumsNameDescending">Sort by album name: Z - A</option>
            {% endif %}
            {% if orderby == 'albumsPriceAscending' %}
            <option value="albumsPriceAscending" selected="selected">Sort by price: low to high</option>
            {% else %}
            <option value="albumsPriceAscending">Sort by price: low to high</option>
            {% endif %}
            {% if orderby    == 'albumsPriceDescending' %}
			<option value="albumsPriceDescending" selected="selected">Sort by price: high to low</option>
            {% else %}
            <option value="albumsPriceDescending">Sort by price: high to low</option>
            {% endif %}   
			</select>
    </form>
    <p class="result-count">
        Showing all {{albums.count}} results</p>
    <ul class="products">
        {% for album in albums %}
        <li class="product">
            <a href="{% url 'JazzBluesApp:albumDetail' album_id=album.id %}">
                {% if album.album_cover %}
                <img src="{{album.album_cover.url}}">
                <img width="200px" /> {% else %}
                <img width="300" height="300" src="{{MEDIA_ROOT}}/media/albums/album_default.png" /> {% endif %}
                {% if album.album_format == "vinyl" %}
                    <div class="format">Vinyl</div> 
                {% elif album.album_format == "cd_album" %}
                    <div class="format">CD Album</div> 
                {% else %}
                    <div class="format">CD Box Set</div> 
                {% endif %}
                
                <div class="info">
                    <p class="product-title">{{album.album_name}}</p><br>
                    <p class="artist-name">{{album.artist_id.artist_name}}</p><br>
                    <p class="price">${{album.album_price}}</p><br>
                </div>
            </a> {% if user.is_staff %}
            <a href="{% url 'JazzBluesApp:albumEdit' album_id=album.id %}" class="button">Edit album</a> {% else %} {% if album.in_stock == 0 %}
            <a class="disabled">Sold out</a> {% else %}
            <a href="{% url 'JazzBluesApp:addAlbumToCart' album_id=album.id %}" class="button">Add to cart</a> {% endif %} {% endif %}
        </li>
        {% endfor %}
    </ul>

</div>

<script src="{% static 'scripts/filters.js' %}"></script>
<script>

</script>


{% endblock %}