{% extends 'base.html' %} {% load static %} 

{% block styles %}
<link rel='stylesheet' href="{% static 'styles/albums_events_style.css' %}" type='text/css' media='all' />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block title %} Albums | {% endblock %}

{% block content %}

<div class="container">

    <!--{% if user.is_staff %}
                        <a href="{% url 'JazzBluesApp:newAlbum'%}" class="button">New album</a> {% endif %}

                    {% for album in albums %}
                    <li class="album">
                         {% if user.is_staff %}
                        <a href="{% url 'JazzBluesApp:albumEdit' album_id=album.id %}" class="button">Edit album</a> {% else %} {% if album.in_stock == 0 %}
                        <a class="disabled">Sold out</a> {% else %}
                        <a href="{% url 'JazzBluesApp:addAlbumToCart' album_id=album.id %}" class="button">Add to cart</a> {% endif %} {% endif %}
                    </li>
                    {% endfor %}-->
    <div class="bg-modal-filters">
        <div class="modal-content">
            <div class="close">+</div>
            <fieldset class="search-fieldset">
                <p>Select artist: </p>
                <form class="search-form search-style">
                    {{albumFilter.form.artist_id}}
                    <div>
                        {{albumFilter.form.album_format}}
                    </div>
                    <div>{{albumFilter.form.album_price__gt}} - {{albumFilter.form.album_price__lt}}</div>
                    <div>
                        {{albumFilter.form.genre_id}}
                    </div>
                    <div>
                        {{albumFilter.form.album_name}}
                    </div>
                    <button type="submit">Search</button>
                </form>
            </fieldset>
            <a href="{% url 'JazzBluesApp:albums'%}">Clear all filters</a>
        </div>
    </div>

    
    <a href="#" id="filters-button" class="filters">Filters</a>
    <form class="ordering" id="ordering" method="GET">
        {% csrf_token %}
        <select name="orderby" class="orderby" onchange="redirectlink(this.value)"> 
            {% if request.resolver_match.url_name == 'albums' %}
            <option value="{% url 'JazzBluesApp:albums' %}?{{ request.GET.urlencode }}" selected="selected" >Default sorting</option>
            {% else %}
            <option value="{% url 'JazzBluesApp:albums' %}?{{ request.GET.urlencode }}">Default sorting</option>
            {% endif %}
            {% if request.resolver_match.url_name == 'albumsName' %}
            <option value="{% url 'JazzBluesApp:albumsName' %}?{{ request.GET.urlencode }}" selected="selected">Sort by album name: A - Z</option>
            {% else %}
            <option value="{% url 'JazzBluesApp:albumsName' %}?{{ request.GET.urlencode }}">Sort by album name: A - Z</option>
            {% endif %}
            {% if request.resolver_match.url_name == 'albumsNameDesc' %}
            <option value="{% url 'JazzBluesApp:albumsNameDesc' %}?{{ request.GET.urlencode }}" selected="selected">Sort by album name: Z - A</option>
            {% else %}
            <option value="{% url 'JazzBluesApp:albumsNameDesc' %}?{{ request.GET.urlencode }}">Sort by album name: Z - A</option>
            {% endif %}
            {% if request.resolver_match.url_name == 'albumsPrice' %}
            <option value="{% url 'JazzBluesApp:albumsPrice' %}?{{ request.GET.urlencode }}" selected="selected">Sort by price: low to high</option>
            {% else %}
            <option value="{% url 'JazzBluesApp:albumsPrice' %}?{{ request.GET.urlencode }}">Sort by price: low to high</option>
            {% endif %}
            {% if request.resolver_match.url_name == 'albumsPriceDesc' %}
            <option value="{% url 'JazzBluesApp:albumsPriceDesc' %}?{{ request.GET.urlencode }}" selected="selected">Sort by price: high to low</option>
            {% else %}
            <option value="{% url 'JazzBluesApp:albumsPriceDesc' %}?{{ request.GET.urlencode }}">Sort by price: high to low</option>
            {% endif %}
			</select>
    </form>
    <p class="result-count">
        Showing all {{albums.count}} results</p>
    <ul class="products">
        {% for album in albums %}
        <li class="product">
            <a href="{% url 'JazzBluesApp:albumDetail' album_id=album.id %}">
                {% if album.album_cover %}
                <img src="{{album.album_cover.url}}">
                <img width="200px" /> {% else %}
                <img width="300" height="300" src="{{MEDIA_ROOT}}/media/albums/album_default.png" /> {% endif %}
                {% if album.album_format == "vinyl" %}
                    <div class="format">Vinyl</div> 
                {% elif album.album_format == "cd_album" %}
                    <div class="format">CD Album</div> 
                {% else %}
                    <div class="format">CD Box Set</div> 
                {% endif %}
                
                <div class="info">
                    <p class="product-title">{{album.album_name}}</p><br>
                    <p class="artist-name">{{album.artist_id.artist_name}}</p><br>
                    <p class="price">${{album.album_price}}</p><br>
                </div>
            </a> {% if user.is_staff %}
            <a href="{% url 'JazzBluesApp:albumEdit' album_id=album.id %}" class="button">Edit album</a> {% else %} {% if album.in_stock == 0 %}
            <a class="disabled">Sold out</a> {% else %}
            <a href="{% url 'JazzBluesApp:addAlbumToCart' album_id=album.id %}" class="button">Add to cart</a> {% endif %} {% endif %}
        </li>
        {% endfor %}
    </ul>

</div>

<script src="{% static 'scripts/filters.js' %}"></script>
<script>
function redirectlink(src) {
    window.location=src;
};
</script>
<!--dropdown za multiple select artista-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $('#artistMultiple').select2( {
    multiple:true
});
</script>
{% endblock %}