{% extends 'base.html' %} {% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/album_detail_style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/rating.css' %}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<style>
    .alert-success {
      padding: 20px;
      background-color: #77a464;
      color: white;
    }
    .alert-error {
      padding: 20px;
      background-color: #f44336;
      color: white;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
    </style>

{% endblock %}
{% block title %} {{album.0.album_name}} - Details | {% endblock %}

{% block content %}

<!--
<div class="container">
    
    <div class="product">   
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                    ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                    egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                    leo.</p>
            </div>
            <form class="cart" action="#" method="post" enctype="multipart/form-data">

                <button type="submit" name="add-to-cart" value="507" class="button">Add to cart</button>
            </form>
        </div>
   
        </div>        
    </div>
</div>

-->

<div class="container">
    <nav class="breadcrumb">
        <a href="{% url 'base' %}">Home</a>&nbsp;/&nbsp;<a
            href="{% url 'JazzBluesApp:albums' %}">Albums</a>&nbsp;/&nbsp;{{album.0.album_name}}
    </nav>
    
    <div id="product" class="product">

        {% if messages %}
        <div>
            {% for message in messages %}
            {% if 'warning' in message.tags %}
            <div class="alert-error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endif %}
            {% if 'success' in message.tags %}
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div><br>
        {% endif %}

        <div class="images">
            {% if album.0.album_cover %}
            <img src="{{album.0.album_cover.url}}" alt="cover"></img>
            {% else %}
            <img src="{{MEDIA_ROOT}}/media/albums/album_default.png" alt="cover"></img>
            {% endif %}
        </div>
        <div class="summary entry-summary">
            <h1 class="entry-title">{{album.0.album_name}}</h1>
            <div class="album-artist">{{album.0.artist_id}}</div>
            {% if average_rating > 0 %}
            <div class="product-rating"><br>
                <a class="average-rating-link" href="#reviews-tab">
                    <i class="fa fa-star{% if average_rating < 0.5%}-o{% elif average_rating >= 0.5 and average_rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if average_rating < 1.5%}-o{% elif average_rating >= 1.5 and average_rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if average_rating < 2.5%}-o{% elif average_rating >= 2.5 and average_rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if average_rating < 3.5%}-o{% elif average_rating >= 3.5 and average_rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if average_rating < 4.5%}-o{% elif average_rating >= 4.5 and average_rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                
                    &nbsp;&nbsp;(<span class="count">{{comments.count}}</span>
                    customer reviews)</a>
            </div>
            {% endif %}
            <br>
            <p class="price">
                <span class="Price-amount amount"><span>$</span>{{album.0.album_price}}</span>
            </p>
            <br>
            <div class="product_description">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                    ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                    egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                    leo.</p>
            </div>
            <br>
            {% if user.is_staff %}
            <a href="{% url 'JazzBluesApp:albumEdit' album_id=album.0.id %}" class="button">Edit album</a> {% else %} {% if album.0.in_stock == 0 %}
            <a class="disabled">Sold out</a> {% else %}
            <a href="{% url 'JazzBluesApp:addAlbumToCart' album_id=album.0.id %}" class="button">Add to cart</a> {% endif %} {% endif %}
            <br><br>
            <div class="product_meta">
                <span class="posted_in">Categories: <a href="#" rel="tag">Clothing</a>, <a href="#"
                        rel="tag">Hoodies</a></span>
            </div>
        </div>

        <div class="tabs">
            <ul class="tabs">
                <li class="active tab" data-tab-target="#tab-description">
                    Description
                </li>
                <li class="tab" data-tab-target="#reviews-tab">
                    &nbsp;Reviews ({{comments.count}})
                </li>
            </ul>
            <div class="active" id="tab-description" data-tab-content>
                <p class="details_description">Pellentesque habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                    ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                    egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                    leo.</p>
            </div>
            <div id="reviews-tab" data-tab-content>
                <div id="reviews">
                    {% if comments %}
                    <div id="reviews" class="woocommerce-Reviews" class="details_reviews">
                        <div id="comments">
                            <h2>
                                {{comments.count}} reviews for <span>{{album.0.album_name}}</span>
                            </h2><br>
                            <ol class="commentlist">
                                {% for comment in comments %}
                                <li class="comment">
                                    <div class="comment_container">
                                        <img alt="" src="{{comment.user_id.avatar.url}}" srcset=""
                                            class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                        <div class="comment-text">
                                            <div class="rating-stars">
                                                    <i class="fa fa-star{% if comment.rating < 0.5%}-o{% elif comment.rating >= 0.5 and comment.rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if comment.rating < 1.5%}-o{% elif comment.rating >= 1.5 and comment.rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if comment.rating < 2.5%}-o{% elif comment.rating >= 2.5 and comment.rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if comment.rating < 3.5%}-o{% elif comment.rating >= 3.5 and comment.rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa fa-star{% if comment.rating < 4.5%}-o{% elif comment.rating >= 4.5 and comment.rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <p class="meta">
                                                <strong
                                                    class="woocommerce-review__author">{{comment.user_id.user.username}}
                                                </strong>
                                                <span class="woocommerce-review__dash">–</span>
                                                <time class="woocommerce-review__published-date"
                                                    datetime="2013-06-07T11:54:51+00:00">{{comment.create_at}}</time>
                                            </p>

                                            <div class="description">
                                                <strong>{{comment.subject}}</strong>
                                                <p>{{comment.comment}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                {% endfor %}
                            </ol>
                        </div>
                        {% else %} Nema komentara...<br><br>
                    {% endif %}
                        {% if not user.is_staff %}
                        <div id="review_form_wrapper">
                            <div id="review_form">
                                <div id="respond" class="comment-respond">
                                    {% if user.is_authenticated %}
                                    <span id="reply-title" class="comment-reply-title">Add a
                                        review</span>
                                    <form action={% url 'JazzBluesApp:addComment' album_id=album.0.id %} method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input name="subject" class="input" type="text" placeholder="Your Subject" />
                                        </div>
                                        <div class="form-group">
                                            <textarea name="comment" class="input" type="text" placeholder="Your review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-rating">
                                                <strong>Your rating: </strong>
                                                <div class="starRating">
                                                    <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                                                    <input type="radio" id="rating-4" name="rating" value="4" /><label for="rating-4">4</label>
                                                    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                                                    <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                                                    <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="submit">Submit</button>
                                        {% else %}
                                        You must be logged in to post a review
                                        <td><button><a href="{% url 'accounts:login' %}" style="text-decoration: none;">Log In</a></button></td>
                                        {% endif %}
                                    </form>
                                </div><!-- #respond -->
                            </div>
                        </div>
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <br>
            {% if related_albums %}
            <h2 class="related-title">Related albums</h2>
            <div class="related-products">
                {% for album in related_albums %}
                <li class="related-product">
                    <a href="{% url 'JazzBluesApp:albumDetail' album_id=album.id %}">
                        {% if album.album_cover %}
                        <img src="{{album.album_cover.url}}">
                        <img width="200px" /> {% else %}
                        <img width="300" height="300" src="{{MEDIA_ROOT}}/media/albums/album_default.png" /> {% endif %}
            
                        <div class="info">
                            <p class="product-title">{{album.album_name}}</p><br>
                            <p class="artist-name">{{album.artist_id.artist_name}}</p>
                            <p class="price">${{album.album_price}}</p><br>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    </main>
</div>


<script src="{% static 'scripts/tabs.js' %}" defer></script>

<script>
    var logID = 'log',
        log = $('<div id="' + logID + '"></div>');
    $('body').append(log);
    $('[type*="radio"]').change(function () {
        var me = $(this);
        log.html(me.attr('value'));
    });

    var target = document.querySelectorAll('.average-rating-link');

    target.click(function () {
        $('#tab-description').classList.remove('active');
        $('#tab-reviews').classList.add('active');
    });  
</script>

{% endblock %}