{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel='stylesheet' href="{% static 'styles/cart_style.css' %}" type='text/css' media='all' /> {% endblock %} {% load poll_extras %} {% block title %} {{request.user.first_name}}'s Cart |{% endblock %} {% block content %}

<style>
    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
    </style>


<div class="cart">
    {% if not userAlbumCart and not userEventCart %}
    <div style="text-align: center"><br><br><br><br>
      <h1><b>Your cart is empty.</b></h1><br>
      <p>Looks like you have not added anything to your cart.</p>
    </div>
    {% else %}
    <div id="main" class="main">
        <div id="col2" class="clearfix col-mid" role="main">
            {% if messages %}
        <div>
            {% for message in messages %}
            <br>
            <div>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    {{ message|safe }}
                </div>
            </div>
            {% endfor %}
        </div><br>
        {% endif %}
            <a name="main-content"></a>
            <h2>Cart</h2>
            <table id="basketContent">
                {% for album in albums %}
                <tr>
                    <td>
                        <dl>
                            <dt class="image">
                              <a href="#">
                              {% if album.album_cover %}
                                <img src="{{album.album_cover.url}}" width="50" loading="lazy" alt="">
                              {% else %}
                              <img src="{{MEDIA_ROOT}}/media/albums/album_default.png" width="50" loading="lazy" alt="">
                              {% endif %}
                              </a>
                          </dt>
                            <dt class="title">
                            <a href="#">{{album.artist_id.artist_name}}: {{album.album_name}}</a>
                          </dt>
                          {% if album.album_format == "vinyl" %}
                          <dd class="dispatch">Vinyl 12" Album</dd>
                          {% elif album.album_format == "cd_album" %}
                          <dd class="dispatch">CD Album</dd>
                          {% else %}
                          <dd class="dispatch">CD Box Set</dd>
                          {% endif %}
                           
                        </dl>
                    </td>
                    {% for cart in userAlbumCart.album_id.all %} {% if cart|stringformat:"s" == album.album_name|stringformat:"s" %}
                    <td>{{current_user.id|get_albumCart_quantity:cart}} × £{{album.album_price}}</td>
                    <td>
                        <a href="{% url 'JazzBluesApp:cartAlbumDecrement' album_id=cart.id %}"><button class="remove" type="submit" name="updateQuantity_M4782UKLPX.SIG" value="0">-</button></a>
                        <a href="{% url 'JazzBluesApp:cartAlbumIncrement' album_id=cart.id %}"><button class="add" type="submit" name="updateQuantity_M4782UKLPX.SIG" value="2">+</button></a>
                    </td>
                    {% endif %} {% endfor %}
                </tr>
                {% endfor %} {% for event in events %}
                <tr>
                    <td>
                        <dl>
                            <dt class="image">
                              <a href="#">
                              {% if event.event_poster %}
                                <img src="{{event.event_poster.url}}" width="50" loading="lazy" alt="">
                              {% else %}
                              <img src="{{MEDIA_ROOT}}/media/events/event_default.jpg" width="50" loading="lazy" alt="">
                              {% endif %}
                              </a>
                          </dt>
                            <dt class="title">
                            <a href="#">{{event.artist_id.artist_name}}:  {{event.event_name}}</a>
                          </dt>
                          {% if event.category == "concert" %}
                          <dd class="dispatch">Concert</dd> 
                          {% elif event.category == "festival" %}
                          <dd class="dispatch">Festival</dd>
                          {% endif %}
                        </dl>
                    </td>
                    {% for cart in userEventCart.event_id.all %} {% if cart|stringformat:"s" == event.event_name|stringformat:"s" %}
                    <td>{{current_user.id|get_event_quantity:cart}} × £{{event.ticket_price}}</td>
                    <td>
                        <a href="{% url 'JazzBluesApp:cartEventDecrement' event_id=cart.id %}"><button class="remove" type="submit" name="updateQuantity_M4782UKLPX.SIG" value="0">-</button></a>
                        <a href="{% url 'JazzBluesApp:cartEventIncrement' event_id=cart.id %}"><button class="add" type="submit" name="updateQuantity_M4782UKLPX.SIG" value="2">+</button></a>
                    </td>
                    {% endif %} {% endfor %}
                </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="4">Total <span>£{{total}}</span></td>
                </tr>
            </table>
                <a href="{% url 'JazzBluesApp:orderAddressPayment' username=current_user.username %}" class="button"><button class="btn-checkout" type="submit" name="review-order">Checkout</button></a>
                <!--<a href="{% url 'JazzBluesApp:checkout' username=current_user.username %}" class="button"><button class="btn-checkout" type="submit" name="review-order">Checkout</button></a>-->
        </div>
    </div>
</div>

 {% endif %} {% endblock %}

