{% extends 'base.html' %} {% block title %}
New Record Label | 
{% endblock %} {% load static %} {% block content %}


<form method="POST">
    {% csrf_token %}

    <table border="1" style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>Name:</td>
            <td>{{form.recordLabel_name}}</td>
        </tr>
    </table>

    <div style="text-align: center;">
    <input type="hidden" name="next_url" id="next_url" value="{{prev_url}}">
        <br><input type="submit" value="Spremi"><br>
    </div>

</form>

<br> {% if messages %}
<div style="text-align: center;">
    {% for message in messages %}
    <div>
        {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock %}
