{% extends 'base.html' %} {% load static %}
{% block styles %}
<link rel='stylesheet' href="{% static 'styles/new_album_event_style.css' %}" type='text/css' media='all' />
{% endblock %}
{% block title %}
New Address |
{% endblock %} {% load static %} {% block content %}


<div class="body-register">
    <div id="container">
        <div id="secureRegistration">
            <form class="registrationForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="rbroundbox">
                            <h2>New Address</h2>
                    <div class="rbcontent">
                        <table id="register1" class="address">
                            <tr>
                                        <td><label for="">Street name <em>*</em></label></td>
                                        <td class="plus-div">{{form.street_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Street number <em>*</em></label></td>
                                        <td class="plus-div">{{form.street_number}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">City <em>*</em></label></td>
                                        <td>{{form.city}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><label for="">Postal code <em>*</em></label></td>
                                        <td>{{form.postal_code}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Country <em>*</em></label></td>
                                        <td>{{form.country}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Phone number <em>*</em></label></td>
                                        <td>{{form.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">Address details <em>*</em></label></td>
                                        <td>{{form.address_details}}</td>
                                    </tr>
                            </table>
                        <table id="register2" class="address">   
                        </table>
                    </div>
                </div>
                <input type="hidden" name="next_url" id="next_url" value="{{prev_url}}">
                <button type="submit" class="register">Save</button>
        </div>
        </form>
    </div>
</div>

<br> {% if messages %}
<div style="text-align: center; ">
    {% for message in messages %}
    <div>
        {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% endif %} {% endblock %}