{% extends 'base.html' %}  
{% load static %}
{% block styles %}
<link rel='stylesheet' href="{% static 'styles/new_album_event_style.css' %}" type='text/css' media='all' />
{% endblock %}
{% load static %} {% block title %} New Festival | {% endblock %}

 {% block content %}


 
<div class="body-register">
    <div id="container">
        <div id="secureRegistration">
            <form class="registrationForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="rbroundbox">
                            <h2>New Album</h2>
                    <div class="rbcontent">
                        <table id="register1" class="address">
                        <tr>
                                    <td><label for="{{ form.artist_id_for_label }}">Artist <em>*</em></label></td>
                                    <td class="plus-div">{{form.artist_id}}<a href="{% url 'JazzBluesApp:newArtist' %}" class="button">+</a></td>
                                </tr>
                                <tr>
                                    <td><label for="{{ u_form.email.id_for_label }}">Location <em>*</em></label></td>
                                    <td class="plus-div">{{form.venue_id}}<a href="{% url 'JazzBluesApp:newVenue' %}" class="button">+</a></td>
                                </tr>
                                <tr>
                                    <td><label for="">Event name <em>*</em></label></td>
                                    <td>{{form.event_name}}</td>
                                </tr>
                                <tr>
                                    <td><label for="">Start <em>*</em></label></td>
                                    <td>{{form.event_start_datetime}}</td>
                                </tr>
                                <tr>
                                    <td><label for="">End <em>*</em></label></td>
                                    <td>{{form.event_end_datetime}}</td>
                                </tr>
                                <tr>
                                    <td><label for="">Available tickets <em>*</em></label></td>
                                    <td>{{form.available_tickets}}</td>
                                </tr>
                                <tr>
                                    <td><label for="">Price <em>*</em></label></td>
                                    <td>{{form.ticket_price}}</td>
                                </tr>
                                <tr>
                                    <td><label for="">Event details <em>*</em></label></td>
                                    <td>{{form.event_details}}</td>
                                </tr>
                                <tr>
                                    <td><label for="">Event poster <em>*</em></label></td>
                                    <td>{{form.event_poster}}</td>
                                </tr>
                        </table>
                        <table id="register2" class="address">   
                        </table>
                    </div>
                </div>
                <button type="submit" class="register">Save</button>
        </div>
        </form>
    </div>
</div>

<br> {% if messages %}
<div style="text-align: center; ">
    {% for message in messages %}
    <div>
        {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% endif %} {% endblock %}