{% extends 'base.html' %} {% load static %} {% load poll_extras %}
{% block styles %}
<link rel='stylesheet' href="{% static 'styles/cart_style.css' %}" type='text/css' media='all' /> 
<link rel="stylesheet" href="{% static 'styles/tickets.css' %}" /> 
{% endblock %}
{% block title %}
Orders |{% endblock %} {% block content %}

<fieldset>
        <form>
            {{orderFilter.form.user_id}}
            {{orderFilter.form.order_status}}
            <button type="submit">Search</button>
        </form>

    </fieldset>


<div class="cart">
    <div id="main" class="main">
        <div id="col2" class="clearfix col-mid" role="main">
            <a name="main-content"></a>
            <h2>User orders <br><small>Album orders</small></h2>
            <table id="basketContent">
                {% for order in orders %}
                <tr>
                    <td>
                        <dl>
                            <dt class="title">
                                <a href="{% url 'JazzBluesApp:staffOrderDetail' albumorder_id=order.0.id %}">#{{order.0.id}}: {{order.0.order_status|capital}}</a>
                          </dt>
                        </dl>
                    </td>
                    <td>
                        <dl style="padding-left:15px;">{{order.0.user_id_id|get_username}}</dl>
                    </td>
                    <td>
                        <dl>
                            <h1 class="orders-price">{{order.0.order_date|date:"d.m.Y"}}</h1>
                        </dl>
                    </td>
                </tr>
                {% endfor %} 
                {% for event in eventOrders %}
                <tr>
                    <td>
                        <dl>
                            <dt class="title">
                            <a href="#">#{{event.id}}: {{event.event_id.all.0.artist_id}} - {{event.event_id.all.0.event_name}}</a>
                          </dt>
                        </dl>
                    </td>
                    <td>
                        <dt="title">Purchase date: {{event.order_date|date:"d.m.Y"}}</dt>
                    </td>
                    <td>
                        <dl>
                            <h1 class="orders-price">£{{event.id|ticket_total}}</h1>
                        </dl>
                    </td>
                </tr>
                {% endfor %}
                <tr>                   
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>


{% endblock %}