{% extends 'base.html' %} {% load static %} {% load poll_extras %} 
{% block styles %}
<link rel='stylesheet' href="{% static 'styles/cart_style.css' %}" type='text/css' media='all' /> 
<link rel="stylesheet" href="{% static 'styles/tickets.css' %}" /> 
{% endblock %}
{% block title %} {{request.user.first_name}}'s Orders |{% endblock %} {% block content %} 

<div class="cart">
    {% if not albumOrders and not eventOrders %}
        <p>Nemate narudžbi...</p>
    {% else %}

    <div id="main" class="main">
        <div id="col2" class="clearfix col-mid" role="main">
            <a name="main-content"></a>
            <h2>My Orders <br><small>Album orders</small></h2>
            <table id="basketContent">
                {% for album in albumOrders %}
                <tr>
                    <td>
                        <dl>
                            <dt class="title">
                                <a href="{% url 'JazzBluesApp:userOrderDetail' albumorder_id=album.id %}" class="button">#{{album.id}}: {{album.order_status|capital}}</a>
                          </dt>
                        </dl>
                    </td>
                    <td>
                        <dt="title">Order date: {{album.order_date|date:"d.m.Y"}}</dt>
                    </td>
                    <td>
                        <dl>
                            <h1 class="orders-price">£{{album.id|album_total}}</h1>
                        </dl>
                    </td>
                </tr>
                {% endfor %} 
                {% for event in eventOrders %}
                <tr>
                    <td>
                        <dl>
                            <dt class="title">
                            <a href="#">#{{event.id}}: {{event.event_id.all.0.artist_id}} - {{event.event_id.all.0.event_name}}</a>
                          </dt>
                        </dl>
                    </td>
                    <td>
                        <dt="title">Purchase date: {{event.order_date|date:"d.m.Y"}}</dt>
                    </td>
                    <td>
                        <dl>
                            <h1 class="orders-price">£{{event.id|ticket_total}}</h1>
                        </dl>
                    </td>
                </tr>
                {% endfor %}
                {% for ticket in tickets %}
                <tr>
                    <td>
                        <dl>
                            <dt class="title">
                            <a href="#">#{{ticket.id}}: {{ticket.event_id.artist_id}} - {{ticket.event_id.event_name}}</a>
                          </dt>
                        </dl>
                    </td>
                    <td>
                        <dt="title">Purchase date: {{ticket.order_date|date:"d.m.Y"}}</dt>
                    </td>
                    <td>
                        <dl>
                            <h1 class="orders-price">£{{ticket.event_id.ticket_price}}</h1>
                        </dl>
                    </td>
                </tr>
                {% endfor %}
                <tr>                   
                </tr>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% for event in eventOrders %}
<div class="ticket">
    <div class="left">
        <div class="image">
            <p class="admit-one">
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
            </p>
            <div class="ticket-number">
                <p>
                    #{{event.id}}
                </p>
            </div>
        </div>
        <div class="ticket-info">
            <p class="date">
                <span>FESTIVAL</span>
                <span class="day">{{event.event_id.all.0.event_start_datetime|date:"M d"}}</span>
                <span>TICKET</span>
            </p>
            <div class="show-name">
                <h1>{{event.event_id.all.0.event_name}}</h1>
                <h2>{{event.event_id.all.0.artist_id}}</h2>
            </div>
            <div class="time">
                <p>{{event.event_id.all.0.event_start_datetime|date:"M d"}}<span> TO </span>{{event.event_id.all.0.event_end_datetime|date:"M d"}}</p>
            </div>
            <p class="location">
                <span>{{event.event_id.all.0.venue_id.venue_name}}</span>
                <span>{{event.event_id.all.0.venue_id.location}}</span>
            </p>
        </div>
    </div>
    <div class="right">
        <p class="admit-one">
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
        </p>
        <div class="right-info-container">
            <div class="show-name">
                <h1>{{event.event_id.all.0.event_name}}</h1>
            </div>
            <div class="time">
                <p>{{event.event_id.all.0.event_start_datetime|date:"M d"}}<span>&nbsp;TO&nbsp;</span>{{event.event_id.all.0.event_end_datetime|date:"M d"}}</p>
            </div>
            <div class="barcode">
                <img src="{% static "images/qr.png" %}" alt="">
            </div>
            <p class="ticket-number">
                #{{event.id}}
            </p>
            
        </div>
    </div>
</div>
<button onclick="Ticket({{forloop.counter}})">Download ticket</button>
{% endfor %}

{% for ticket in tickets %}
<div class="ticket">
    <div class="left">
        <div class="image">
            <p class="admit-one">
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
                <span>ADMIT ONE</span>
            </p>
            <div class="ticket-number">
                <p>
                    #{{ticket.id}}
                </p>
            </div>
        </div>
        <div class="ticket-info">
            <p class="date">
                <span>{{ticket.event_id.event_start_datetime|date:"l"}}</span>
                <span class="day">{{ticket.event_id.event_start_datetime|date:"M d"}}</span>
                <span>{{ticket.event_id.event_start_datetime|date:"Y"}}</span>
            </p>
            <div class="show-name">
                <h1>{{ticket.event_id.event_name}}</h1>
                <h2>{{ticket.event_id.artist_id}}</h2>
            </div>
            <div class="time">
                <p><span>SEAT</span> {{ticket.seat_number}}</p>
                <p>START <span>@</span>{{ticket.event_id.event_start_datetime|date:"h:m"}} PM</p>
            </div>
            <p class="location">
                <span>{{ticket.event_id.venue_id.venue_name}}</span>
                <span>{{ticket.event_id.venue_id.location}}</span>
            </p>
        </div>
    </div>
    <div class="right">
        <p class="admit-one">
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
            <span>ADMIT ONE</span>
        </p>
        <div class="right-info-container">
            <div class="show-name">
                <h1>{{ticket.event_id.event_name}}</h1>
            </div>
            <div class="time">
                <p><span>SEAT</span> {{ticket.seat_number}}</p>
                <p>START<span> @</span>{{ticket.event_id.event_start_datetime|date:"h:m"}} PM</p>
            </div>
            <div class="barcode">
                <img src="{% static "images/qr.png" %}" alt="">
            </div>
            <p class="ticket-number">
                #{{ticket.id}}
            </p>
        </div>
    </div>
    <button onclick="Ticket({{forloop.counter}})">Download ticket</button>
</div>
{% endfor %}

 <!-- div to pdf -->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
function Ticket(){

		var HTML_Width = $(".ticket").width();
		var HTML_Height = $(".ticket").height();
		var top_left_margin = 15;
		var PDF_Width = HTML_Width+(top_left_margin*2);
		var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
		var canvas_image_width = HTML_Width;
		var canvas_image_height = HTML_Height;
		
		var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;
		

		html2canvas($(".ticket")[0],{allowTaint:true}).then(function(canvas) {
			canvas.getContext('2d');
			
			console.log(canvas.height+"  "+canvas.width);
			
			
			var imgData = canvas.toDataURL("image/jpeg", 1.0);
			var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
		    pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
			
			
			for (var i = 1; i <= totalPDFPages; i++) { 
				pdf.addPage(PDF_Width, PDF_Height);
				pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
			}
			
		    pdf.save("ticket.pdf");
        });
	};
</script>
    
{% endblock %}