{% extends 'base.html' %} {% load static %} {% load poll_extras %} {% block title %} Order details |{% endblock %} {% block content %}


<div class="container">

    <div class="order-detail">
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1"></div>
                <div class="col col-2">Album</div>
                <div class="col col-3">Price</div>
                <div class="col col-4">Quantity</div>
                <div class="col col-5">Total</div>
            </li>
            {% for order in albumOrder.album_id.all %}
            <li class="table-row">
                <div class="col col-1"><img src="{{order.album_cover.url}}" width="60px" /><br></div>
                <div class="col col-2">{{order}}</div>
                <div class="col col-3">${{order.album_price}}</div>
                <div class="col col-4">{{albumOrder.id|get_albumOrder_quantity:order.id}}</div>
                <div class="col col-5">${{albumOrder.id|get_albumOrder_quantity:order.id|mult:order.album_price}}</div>
            </li>
            {% endfor %}
        </ul>


        <ul class="responsive-table">
            <li class="table-row">
                <div class="col col-1"><b>TOTAL</b></div>
                <div class="col col-2"></div>
                <div class="col col-3"></div>
                <div class="col col-4"></div>
                <div class="col col-5"><b>${{total}}</b></div>
            </li>
        </ul>
    </div>
</div>


{% endblock %}