{% extends 'base.html' %} {% block title%} {% endblock %} {% block content %}

<div class="container">
    <div class="site-content">

        <div id="primary" class="content-area column full">

            <main id="main" role="main">
                <br>
                <div class="main-top">
                    <div class="result-count">
                        {{articles.count}} results
                    </div>
                    <div class="new-album">
                        {% if user.is_staff %}
                        <a href="{% url 'JazzBluesApp:newArticle'%}" class="button">New article</a> {% endif %}
                    </div>
                </div>

                {% for article in articles %}
                <fieldset>

                    <div class="article-image">
                        {% if article.image %}
                        <img src="{{article.image.url}}" alt="article-img" width="200px" /> {% endif %}
                    </div>
                    {% if user.is_staff %}
                    <a href="{% url 'JazzBluesApp:editArticle' article_id=article.id %}" class="button">Edit article</a> {% endif %}
                    <div class="article-subject">{{article.subject}}</div>
                    <div class="article-date">{{article.publish_date}}</div>
                    <div class="article-text">{{article.text}}</div>

                </fieldset>


                {% endfor %}

                {% for article in articles %}
                <div class="block">
                    <div class="element">
                        <div class="element-bg" id="bg" style="background-image: url({{article.image.url}})">
                            <div class="wrapper">
                                <div class="element-paragraph">{{article.publish_date}}</div>
                                <div class="element-header">{{article.subject}}</div>
                                <div class="element-text" id="t2">{{article.text|safe|truncatewords:"20"|linebreaks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}