fieldset {
    /*border-top: 1px solid;*/
    border-bottom: 1px solid;
    margin-top: -15px;
}


.search-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.search-form div {
    margin: 5px 10px 5px 0;
}

.products .product .product-title,
.products .product .artist-name,
.products .product .price {
    float: left;
}

.products .product .product-title {
    font-family: 'Oswald';
    letter-spacing: 0;
    float: left;
}

.products .product .artist-name {
    font-family: 'Oswald';
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
    float: left;
}

.products .product .price {
    /*color: #77a464;*/
    letter-spacing: 0px;
    float: left;
    font-weight: 400;
    font-size: .857em;
}

.products .product img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.products .product {
    transition: all 0.3s;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 50px;
}

.products .product .format {
    position: absolute;
    background: #333;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    margin-top: -60px;
    padding: 0.3em 1em 0.3em 0.5em;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    line-height: 1;
}

span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #77a464;
    color: #fff;
    font-size: .857em;
    /*z-index: 9*/
}

.products {
    padding: 0;
    list-style: none outside;
    clear: both
}

.products::after {
    clear: both
}

.products .product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0
}

.products .product .product-title,
.products .product h3 {
    margin: 0;
    font-size: 1em
}

.products .product a {
    text-decoration: none
}

.products .product a img {
    width: 100%;
    height: auto;
    box-shadow: none;
    position: relative;
}

.products .product strong {
    display: block
}

.products .product a.button {
    margin-top: 1em
}

.products .product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

a img {
    border: 0;
}

.container {
    margin: 0 auto;
    width: 960px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:visited {
    color: #222222;
}

a:hover {
    color: #222222;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:active,
a:focus {
    text-decoration: none;
}

span.onsale {
    min-height: 50px;
    min-width: 50px;
    padding: .30px;
    line-height: 50px;
    font-weight: 400;
    background-color: #ACE096;
}


/*----------------------------------
                Buttons
    ----------------------------------*/

a:hover.button {
    color: #fff;
    opacity: 0.6;
}

.products .product {
    transition: all 0.3s;
    border: 1px transparent;
}

.products .product:hover {
    border: 1px solid #eee;
    padding: 20px;
    transition: all 0.3s;
}

.products .product h3 {
    font-size: 1.1em;
    font-weight: 400;
}

.products a.button {
    float: left;
    line-height: 1;
    cursor: pointer;
    background-color: #f4f5f6;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px;
    font-weight: 500;
    margin-left: -35px;
}

.products a.button:hover {
    background-color: #d3d3d3;
}

.products a.disabled {
    float: left;
    line-height: 1;
    cursor: default;
    background-color: #d3d3d3;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px;
    font-weight: 500;
    margin-left: -35px;
}

.album-event-title {
    margin-top: -10px
}


/*-------------------------
    FILTERS & ORDERING
--------------------------*/

.filters {
    float: right;
    /*margin-left: 10px;*/
    line-height: 1;
    cursor: pointer;
    background-color: #f4f5f6;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 9.5px;
}

.filters:hover {
    background-color: #d3d3d3;
}

.ordering {
    padding-top: 10px;
    float: right
}

.ordering {
    margin: 0 0 1em
}

.ordering select {
    vertical-align: top;
    padding: 5px;
}

.result-count {
    float: left;
    color: #888888;
    padding-top: 10px;
    margin: 0 0 1em
}

/*--------------------
    FILTERS MODAL
--------------------*/
.bg-modal-filters {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
    overflow-y: scroll;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    /*position: relative;*/
}

.close {
    /*position: absolute;*/
    position: relative;
    top: 170px;
    left: 390px;
    font-size: 42px;
    font-weight: 100;
    transform: rotate(45deg);
    cursor: pointer;
}

.search-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.search-form div {
    margin: 5px 10px 5px 0;
}

.search-style,
input[type=number],
input[type=text] {
    font: 100%/1.4 "Open Sans", sans-serif;
    position: relative;
    margin: 0 auto;
    padding: 7px;
}

input[type=number],
input[type=text] {
        width: 150px;
        font-size: .8em;
}
    
.search-style select {
    -webkit-appearance: none;
    display: inline;
    padding: .35em .5em;
    font-family: inherit;
    font-size: .8rem;
    border-radius: 0;
    cursor: pointer;
    min-width: 200px
}

.search-fieldset {
    padding: 5px;
}

.artists {
    width: 300px;
    height: 110px;
    overflow: auto;
}

.moreArtists {
    display: none;
  }
  .read-more-btn {
    padding: 15px 60px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
  }
  .artists.show-more .moreArtists {
    display: inline;
    
  }

  .ex3 {
    
    
  }


  
