a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    letter-spacing: 1px;
}

html {
    border: 15px solid #111;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.8
}

.site-header {
    padding-top: 2em;
    padding-bottom: 1em
}

.container {
    margin: 0 auto;
    width: 1000px
}

a {
    color: inherit;
    text-decoration: none
}

.site-description {
    font-family: 'Quattrocento Sans';
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 30px;
    padding-top: 0;
    color: #222222;
}

.menu {
    display: table;
    margin: 0 auto
}

.main-navigation {
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 0;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    text-transform: uppercase;
    font-family: Oswald
}

.main-navigation a {
    text-decoration: none;
    color: #222!important
}

.main-navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 3px 0
}

.main-navigation li {
    display: inline;
    float: left;
    margin: 0 1em;
    position: relative
}

#cart-icon {
    width: 25px;
    display: inline-block;
    background-color: white;
    background: white;
}

.main-navigation ul ul {
    display: none;
    text-transform: none;
    box-shadow: none;
    opacity: .9;
    float: left;
    left: -1em;
    padding: .5em 1em;
    position: absolute;
    top: 1.5em;
    z-index: 99999;
    padding-top: 35px;
    transition: all .3s;
    font-weight: 400;
    background-color: #fff
}

.main-navigation ul ul li {
    margin: 0;
    width: 150px
}

.main-navigation ul li:hover>ul {
    display: block;
}

.site-title {
    font-family: 'Herr Von Muellerhoff';
    font-size: 60px;
    font-style: normal;
    letter-spacing: 3px;
    margin-bottom: 4px;
    text-align: center;
}


/* ---------------------
    TOP PAGE NAVIGATION
--------------------- */

.logo-top {
    height: 90px;
}

.site-title {
    padding-top: 80px;
}


.site-description {
    font-family: 'Quattrocento Sans';
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 30px;
    padding-top: 0;
    color: #222222;
}

.menu-top {
    float: right;
}

.main-navigation-top {
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Oswald
}

.main-navigation-top .menu-top {
    padding-top: 35px;
}


.main-navigation-top a {
    text-decoration: none;
    color: #222!important;
}

.main-navigation-top ul {
    list-style: none;
    margin: 0 auto;
    padding: 3px 0
}

.main-navigation-top li {
    display: inline;
    float: left;
    margin: 0 1em;
    position: relative
}

.main-navigation-top ul ul {
    display: none;
    text-transform: none;
    box-shadow: none;
    opacity: .9;
    float: left;
    left: -1em;
    padding: .5em 1em;
    position: absolute;
    top: 1.5em;
    z-index: 99999;
    padding-top: 10px;
    transition: all .3s;
    font-weight: 400;
    background-color: #fff
}

.main-navigation-top ul ul li {
    margin: 0;
    width: 150px
}

.main-navigation-top ul li:hover>ul {
    display: block;
}

