#star-1:checked~section [for='star-1'] svg,
#star-2:checked~section [for='star-1'] svg,
#star-2:checked~section [for='star-2'] svg,
#star-3:checked~section [for='star-1'] svg,
#star-3:checked~section [for='star-2'] svg,
#star-3:checked~section [for='star-3'] svg,
#star-4:checked~section [for='star-1'] svg,
#star-4:checked~section [for='star-2'] svg,
#star-4:checked~section [for='star-3'] svg,
#star-4:checked~section [for='star-4'] svg,
#star-5:checked~section [for='star-1'] svg,
#star-5:checked~section [for='star-2'] svg,
#star-5:checked~section [for='star-3'] svg,
#star-5:checked~section [for='star-4'] svg,
#star-5:checked~section [for='star-5'] svg {
    transform: scale(1);
}

#star-1:checked~section [for='star-1'] svg path,
#star-2:checked~section [for='star-1'] svg path,
#star-2:checked~section [for='star-2'] svg path,
#star-3:checked~section [for='star-1'] svg path,
#star-3:checked~section [for='star-2'] svg path,
#star-3:checked~section [for='star-3'] svg path,
#star-4:checked~section [for='star-1'] svg path,
#star-4:checked~section [for='star-2'] svg path,
#star-4:checked~section [for='star-3'] svg path,
#star-4:checked~section [for='star-4'] svg path,
#star-5:checked~section [for='star-1'] svg path,
#star-5:checked~section [for='star-2'] svg path,
#star-5:checked~section [for='star-3'] svg path,
#star-5:checked~section [for='star-4'] svg path,
#star-5:checked~section [for='star-5'] svg path {
    fill: #fb0;
    stroke: #cc9600;
}

section {
    width: 300px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

label {
    width: 20px;
    text-align: center;
    cursor: pointer;
}

label svg {
    width: 100%;
    height: auto;
    fill: white;
    stroke: #ccc;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;
}

label svg path {
    transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
}

label[for="star-null"] {
    display: inline-block;
    margin: 0 auto;
    color: black;
}

.rating {
    display: none;
}

.input-rating {
    margin-top: 10px;
    margin-left: 60px;
}