label {
    cursor: pointer;
}

.input-rating {
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    margin-top: 10px;
    margin-left: 82px;
}

/*get stars and reverse order*/
.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
  }

  /*hide radio button */
  .starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
  }
 /*off state stars or the unrated stars*/
  .starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('/media/rate_star_grey.png'); 
    background-size : contain;
  }
 /*This element pushes down and eventually hides the labels.(of the radio buttons)*/
  .starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('/media/rate_star_yellow.png'); 
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
  }
  
 /*determining the status of the stars according to the above defined element codes*/
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}