@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");




body,
html{

    display: grid;
    font-family: "Staatliches",cursive;
    color: black;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.ticket{
    margin: auto;
    display: flex;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ticket .left{
    display: flex;
}

.poster{
    height: 250px;
    background-size:contain;
    opacity: 0.85;
    position: relative;
}
.poster img {
    height: 250px;
}

.left .ticket-number p{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color:#4a437e;
}
.ticket-info{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.date{
    border-top: 1px solid gray;
    padding: 5px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.date span{
    width: 100px;
}
.date span:first-child{
    text-align: left;
}
.date span:last-child{
    text-align: right;
}
.date .day{
    color: #d83565;
    font-size: 20px;
}
.show-name{
    font-size: 18px;
    font-family: "Nanum Pen script",cursive;
}

.left .show-name h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #4a437e;
}

.show-name h1{
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #4a437e;
}

.time{
    padding: 10px 0;
    color: #4a437e;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
}
.time span{
    font-weight: 400;
    color: gray;
}
.left .time{
    font-size: 16px;
}
.location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid gray;
}
.location .separator{
    font-size: 20px;
}
.right{
    width: 180px;
    border-left: 1px dashed #404040;
}


.right .right-info-container{
    height: 250px;
    padding: 10px 10px 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right .show-name h1{
    font-size: 18px;
}
.barcode{
    height: 100px;
}
.barcode img{
    height: 100%;
}
.right .ticket-number{
    color: gray;
}

